body {
    background-color: #2a536c;
    font-family: 'Ubuntu', sans-serif;
}

/* MAIN */
main {
    margin-top: 20vh;
}

.center {
    text-align: center;
}

h1 {
    font-size: 10vw;
}

h1 a {
    text-decoration: none;
    color: #d9d9d9;
}

ul {
    list-style: none;
    margin-top: 5vh;
}

ul li {
    font-size: 6vw;
    margin-top: 2vh;
}

ul li a {
    text-decoration: none;
    color: #ffffff;
}

.list-last-item {
    margin-top: 6vh;
}

@media screen and (min-width: 1024px){

    h1 {
        font-size: 4vw;
    }

    ul li {
        font-size: 2vw;
    }

    ul li a:hover {
        color: rgb(14, 25, 30);
        transition: 1s;
    }

}