body {
    background-color: #2a536c;
    font-family: 'Ubuntu', sans-serif;
}

main {
    margin-top: 20vh;
}

.center {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
}

h1 {
    font-size: 10vw;
}

ul li a {
    text-decoration: none;
    color: #ffffff;
}

.item {
    margin-top: 6vh;
}

@media screen and (min-width: 1024px){

    h1 {
        font-size: 4vw;
    }

    ul li {
        font-size: 2vw;
    }

    ul li a:hover {
        color: rgb(14, 25, 30);
        transition: 0.5s;
    }

}